#!/bin/sh
set -e

export PORT=<%= port %>

exec 2>&1

cd <%= File.expand_path(engine.root) %>
exec chpst -e <%= File.expand_path(File.join(location, "#{process_directory}/env")) %> <%= process.command %>
